@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Comic Neue", cursive;
  user-select: none;
}

body {
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.6);
}

.players::-webkit-scrollbar {
  width: 0.2rem;
}

.players::-webkit-scrollbar-thumb {
  background-color: white;
}

.chat::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0;
}

.scoreboard::-webkit-scrollbar {
  width: 0.2rem;
}

.scoreboard::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
